.manage-bundle {
    display: flex;
    gap: 16px;
  }
  
  .product-list-container {
    flex: 3;
  }
  
  .cart-container {
    flex: 1;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  @media screen and (max-width: 768px) {
    .manage-bundle {
      flex-direction: column;
    }
  
    .product-list-container,
    .cart-container {
      width: 100%;
    }
    
  }
  .MuiPaper-root .MuiPaper-elevation .MuiPaper-rounded .MuiPaper-elevation1 .MuiCard-root .cart-card .css-8iyf53-MuiPaper-root-MuiCard-root{
    position: fixed;
  }